@use '../styles/colors'
@use '../styles/layout'

.tags
  padding: 0
  display: flex
  flex-wrap: wrap

.tags a
  color: colors.$action

.tags > li
  list-style: none

.spacer
  padding: 0 0.75rem

.content
  padding: 1rem 0 2rem 0

.centered
  text-align: center

.content blockquote
  margin-right: 0
  margin-left: 0
  padding: 0.75rem 2.5rem
  border-left: solid colors.$accent1
  font-style: italic
.content blockquote > *:first-child
  margin-top: 0
.content blockquote > p
  text-indent: 0
