@use '../../styles/fonts'
@use '../../styles/colors'
@use '../../styles/layout'

.projects > *:first-child > h2
  margin-top: layout.$firstSubtitle

.projects .linkWrapsEl:focus
  box-shadow: none
.projects .linkWrapsEl:focus > *
  box-shadow: 0 0 3px 1px colors.$accent1

.discreteLink
  color: colors.$dark

.infoList
  margin: 0
  padding: 0

.infoList > li
  list-style: none
  display: grid
  grid-template-columns: 3rem 1fr

.infoList > li > *:first-child
  justify-self: center

.infoList > li > svg
  height: 2rem
  width: 2rem
