@use './Landing.variables.sass'
@use '../Layout.variables.sass'
@use '../Headshot.variables.sass'

.contents
  // position: absolute
  // top: 50%
  // height: 100%

.contents > .nav.tabs
  margin-top: -1em

\:global .landing-headshot
  margin-top: Landing.$margin-top
  margin-left: calc(#{Layout.$column-width-left} - (#{Headshot.$size} / 2))
