@use '../../styles/layout'
@use './Resume.variables.sass'

.education h3
  margin-bottom: 0.25rem

.education h4
  margin-top: #{Resume.$space / 2} 
  margin-bottom: Resume.$space

.left > h5
  margin: #{Resume.$space / 2} 0
.left > p
  margin: 0
.right, .left
  margin: 0
  padding: 0
.right > li > *
  margin: 0
.right > li
  margin: Resume.$space 0
  list-style: none

@media print
  .twoColumnLayout
    @include Resume.two-column-layout(1fr, 2fr)
  .twoColumnLayout > ul
    margin: 0
@media all and (min-width: #{ layout.$screen-medium })
  .twoColumnLayout
    @include Resume.two-column-layout(1fr, 2fr)
  .twoColumnLayout > ul
    margin: 0
