@use '../../styles/layout'
@use './Resume.variables.sass'

.employment h3
  margin-bottom: 0.5rem

.positions
  margin: 0
  padding: 0
.positions > li
  margin: Resume.$space 0
  list-style: none
.positions > li > *
  margin: 0
.positions > li > h4
  margin-bottom: #{Resume.$space / 2}

@media print
  .twoColumnLayout
    @include Resume.two-column-layout(1fr, 2fr)
  .twoColumnLayout > ul
    margin: 0
@media all and (min-width: #{ layout.$screen-medium })
  .twoColumnLayout
    @include Resume.two-column-layout(1fr, 2fr)
  .twoColumnLayout > ul
    margin: 0
