@use '../../styles/layout'
@use '../../styles/colors.sass'
@use '../../styles/fonts.sass'
@use './Resume.variables.sass'

.experience h3
  margin: 1rem 0 0.5rem 0

.item > ul:nth-child(2)
  margin: 0.75rem 0rem 0.5rem 0

.item .description
  margin-bottom: 0
