@use '../../styles/fonts'
@use '../../styles/colors'

.infoList
  margin: 0
  padding: 0

.infoList > li
  height: 2rem
  list-style: none
  display: flex
  align-items: center

.infoList > li > *:first-child
  width: 3rem

.infoList > li > svg
  height: 2rem
  width: 2rem

svg.stroke
  fill: transparent
  stroke: colors.$dark
  stroke-linecap: round
  stroke-linejoin: miter
