@use '../../styles/layout'
@use '../../styles/colors'
@use '../../styles/fonts'

$border-radius: 3px

li
  list-style-type: none

.tab
  // height: 100%
  padding: 0.25rem 0.5rem
  display: flex
  align-items: center
  border-bottom: solid colors.$accent1
@media all and (max-width: #{layout.$screen-small})
  .tab
    border: transparent

.active
  border: solid colors.$accent1
  border-bottom: transparent
  border-top-right-radius: $border-radius
  border-top-left-radius: $border-radius
@media all and (max-width: #{layout.$screen-small})
  .active
    border: transparent
.active > a
  color: colors.$accent1
  font-weight: fonts.$weight-sans-semi-bold
  margin-top: -5px
