@use '../../../styles/layout'
@use '../../../styles/colors'

$iconsize: 6rem

.firstSubtitle
  margin-top: layout.$firstSubtitle

.iconGrid
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.icon
  margin: 2rem 0

.icon svg
  height: $iconsize
  width: $iconsize
  color: colors.$dark
