.content
  min-width: 310px
  max-width: 60rem
  margin: auto

.mainContentLink
  position: absolute
  left: -10000px
  top: auto
  width: 1px
  height: 1px
  overflow: hidden

.mainContentLink:focus
  position: static
  width: auto
  height: auto

.sticky
  position: sticky
  top: 50px
